.header {
  top: 0;
  height: 10rem;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #011627;

  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  padding: 1rem;
}

.header nav ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.header nav ul li,
.header nav ul a {
  float: left;
  text-decoration: none;
  padding: 2rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--secundary-color);
  transition: all 0.5s ease-in-out;
}

.active {
  background-color: #2ec4b6;
  transform: translateY(-0.7rem);
  color: #fdfffc !important;
}
